<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>
<body>
    <div>
        <h1 class="h1LP">Lista de Productos</h1>
    </div>
    <div class="chat-input2">
        <textarea id='texto' cols="100" rows="15" style="resize: both;"></textarea>
    </div>
</body>
</html>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>
<!-- Enlace a tu archivo CSS en las vistas home y realTimeProducts -->
<link rel="stylesheet" href="/css/index.css">