<div>
    <h1>Lista de Productos</h1>
</div>
<div class="chat-input">
<textarea id='texto' cols="100" rows="15" style="resize: both;" ></textarea>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>