<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>

<body>

    <h1>Cargar producto</h1>
    <form action="" id="formID">
        <input type="text" id="title" placeholder="title"> <br><br>
        <input type="text" id="description" placeholder="description"><br><br>
        <input type="text" id="code" placeholder="code"><br><br>
        <input type="text" id="price" placeholder="price"><br><br>
        <input type="text" id="stock" placeholder="stock"><br><br>
        <input type="text" id="category" placeholder="category"><br><br>
        <button type="submit" id='submitAdd'>Registrar</button>
    </form>
    <h1>Eliminar producto</h1>
    <form action="" id="formDelete">
        <input type="text" id="id" placeholder="id"><br><br>
        <button type="submit" id='submitDelete'>Eliminar</button>
    </form>
    <h1>Lista de productos</h1>
    <div class="chat-input">
        <textarea id='texto' cols="100" rows="15" style="resize: both;"></textarea>
    </div>
</body>

</html>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtimeproducts.js"></script>
<!-- Enlace a tu archivo CSS en las vistas home y realTimeProducts -->
<link rel="stylesheet" href="/css/index.css">